<header class="backend-header">
    <img class="logo" src="../../../assets/images/travel_agency.png"/>
    <nav>
        <a href="/dashboard"><i class="fas fa-cogs"></i> Dashboard </a>        
        <a href="/dashboard/destinations"><i class="fas fa-plane"></i> Destinations </a>
        <a href="/dashboard/user-manager"><i class="fa fa-group"></i> User manager </a>
        <a href="/dashboard/profile"><i class="fa fa-user"></i> My Profile</a>       
        <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
    </nav>
</header>
<!-- END HEADER -->